.swiper {
  @apply w-[240px] h-[320px];
}

.swiper-wrapper {
  @apply max-w-md;
}

.swiper .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.swiper-slide:nth-child(1n) {
  background-color: rgb(255, 255, 255);
}

.swiper-slide:nth-child(2n) {
  background-color: rgb(255, 255, 255);
}

.swiper-slide:nth-child(3n) {
  background-color: rgb(255, 255, 255);
}

.swiper-slide:nth-child(4n) {
  background-color: rgb(255, 255, 255);
}

.swiper-slide:nth-child(5n) {
  background-color: rgb(255, 255, 255);
}

.swiper-slide:nth-child(6n) {
  background-color: rgb(255, 255, 255);
}

.swiper-slide:nth-child(7n) {
  background-color: rgb(255, 255, 255);
}

.swiper-slide:nth-child(8n) {
  background-color: rgb(255, 255, 255);
}

.swiper-slide:nth-child(9n) {
  background-color: rgb(255, 255, 255);
}

.swiper-slide:nth-child(10n) {
  background-color: rgb(255, 255, 255);
}

.swiper-slide:nth-child(11n) {
  background-color: rgb(255, 255, 255);
}

.swiper-slide:nth-child(12n) {
  background-color: rgb(255, 255, 255);
}

.swiper-slide:nth-child(13n) {
  background-color: rgb(255, 255, 255);
}

.swiper-slide:nth-child(14n) {
  background-color: rgb(255, 255, 255);
}

.swiper-slide:nth-child(15n) {
  background-color: rgb(255, 255, 255);
}