.nav {
    position: fixed;
    z-index: 998;
    left: 0;
    top: 0;
    transition: all 0.5s ease 0s;
}

.nav_auto_hide {
    box-shadow: none;
    transform: translate3d(0, -100%, 0);
    transition: all 0.5s ease 0s;
    top: -76px;
}